@import "../global.css";

/*=============================================
=            info section            =
=============================================*/

.info{
    position: relative;
    top: 200px;
    width: 100%;
    height: 800px;
}

.info-container{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    padding: 50px 200px 50px 200px;
}

/*=====  End of info section  ======*/


/*=============================================
=            The team            =
=============================================*/

.team-section{
    position: relative;
    width: 100%;
    height: 1800px;
    /* border: 1px solid black; */
}

.team-container{
    width: 100%;
    height: 1100px;
    box-sizing: border-box;
    padding: 20px 400px 20px 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 30px;
    row-gap: 30px;
}

.team-container > div{
    border-radius: 20px;
    /* display: flex;
    flex-direction: column; */
    padding: 20px;
    height: 330px;
    background-color: var(--baseDarker);
    /* border: 1px solid black; */
    box-sizing: border-box;
}

/* .team-wrapper-erik{
    display: flex;
    flex-direction: column;
    column-gap: 200px;
} */

.team-container > div > img{
    width: 260px;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
}

.juno-image > img{
    position: relative;
    left: 250px;
}

.team-container > div > h1{
    height: 100px;
}

.about-erik{
    width: 100%;
    height: 200px;
    display: flex;
}

.about-juno{
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 100%;
    height: 200px;
}

.work-field-erik{
    width: 100%;
    height: 200px;
}

.work-field-juno{
    width: 100%;
    height: 200px;
}

.middle-container{
    border-radius: 20px;
    
    /* opacity: ; */
    width: 500px;
    height: 500px;
    position: absolute;
    /* left: 665px; */
    top: 350px;
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 50% 50%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.middle-container > h1, 
.middle-container > h2 {
    padding: 10px;
    margin: 0px;
    background-color: var(--base);
}

.middle-container > h2 {
    font-size: 35px;
}

.right{
    display: flex;
    justify-content: flex-end;
    float: right;
}

.bot{
    margin-top: 100px;
}

/*=====  End of The team  ======*/