@import "../global.css";


/*=============================================
=            company info            =
=============================================*/

.company-info-container{
    box-sizing: border-box;
    position: relative;
    top: 250px;
    display: flex;
    margin: 0px 450px 0px 450px;
    font-size: 19px;
    z-index: 1000;
}

.company-info > div{
    margin-bottom: 50px;
}

/*=====  End of company info  ======*/



/*=============================================
=            info section            =
=============================================*/

.info{
    position: relative;
    top: 200px;
    width: 100%;
    height: 800px;
}

.info-container{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    padding: 50px 200px 50px 200px;
}

/*=====  End of info section  ======*/


/*=============================================
=            The team            =
=============================================*/

.team-section{
    position: relative;
    width: 100%;
    height: 1100px;
}

.team-container{
    width: 1000px;
    height: 1160px;
    box-sizing: border-box;
    padding: 300px 400px 20px 400px;
    display: grid;
    grid-template-columns: 600px 600px;
}

.team-container > div{
    padding: 50px;
  
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

.team-container > div .team-info{
    filter: blur(6px);
    transition: 0.3s;
}

.team-container > div:hover .team-info{
    filter: blur(0px);
}

/* .team-container > div:hover .team-title{
    text-shadow: 2px 2px 10px #000000;
} */

.team-container > div > div{
    height: 160px;
    /* border: 1px solid red; */
}

.erik-div{
    box-sizing: border-box;
    text-align: right;
    padding: 60px 10px 0px 0px;
}

.juno-div{
    box-sizing: border-box;
    padding: 60px 0px 0px 10px;
}

.web-div{
    box-sizing: border-box;
    text-align: right;
    padding: 0px 10px 60px 0px;
}

#tester9{
    grid-column: 1 / 3;
}

/*=====  End of The team  ======*/